<h1 mat-dialog-title>Location: {{ instance.name }}</h1>
<div mat-dialog-content>
  <p>Properties</p>
  <form (ngSubmit)="save(form)" #form="ngForm" id="form">
    <mat-form-field class="example-label">
      <input matInput type="text" placeholder="Label" required
             name="abel" [(ngModel)]="instance.label">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Name" required
             name="name" [(ngModel)]="instance.name">
    </mat-form-field>

    <mat-form-field class="example-weight">
      <input matInput type="number" placeholder="Weight" required
             name="weight" [(ngModel)]="instance.weight">
    </mat-form-field>

    <div>
      <label id="example-radio-group-label">Type</label>
      <mat-radio-group aria-labelledby="example-radio-group-label"
                       name="type" class="example-radio-group"
                       [(ngModel)]="instance.type">
        <mat-radio-button class="example-radio-button"
                          *ngFor="let type of types" [value]="type">
          {{ getTransitionType(type) }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a description"
                [(ngModel)]="instance.description" name="description">
      </textarea>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial form="form">Save</button>
  <button mat-button color="accent" (click)="delete()">Delete</button>
</div>
