<h1 mat-dialog-title>Transition: {{ instance.id }}</h1>
<div mat-dialog-content>
  <h3>Properties</h3>
  <form (ngSubmit)="save(form)" #form="ngForm" id="form">
    <mat-form-field class="example-label">
      <input matInput type="text" placeholder="Label" required
             name="label" [(ngModel)]="instance.label">
    </mat-form-field>

    <mat-form-field class="weight">
      <input matInput type="text" placeholder="Weight" required
             name="weight" [(ngModel)]="instance.weight">
    </mat-form-field>

    <div>
      <mat-checkbox name="is_visible" [(ngModel)]="instance.is_visible">
        Is Visible
      </mat-checkbox>
    </div>

    <mat-form-field class="example-full-width">
      <ng-container *ngIf="!isValidCondition()">Wrong expression</ng-container>
      <textarea matInput placeholder="Define a condition"
                [(ngModel)]="instance.condition" name="condition">
      </textarea>
    </mat-form-field>

    <h3>Statements</h3>
    <div>
      <ul>
        <li *ngFor="let state of instance.states;">
          {{ state }}:
          <mat-form-field>
            <ng-container *ngIf="!isValidStateField(state)">
              Wrong expression
            </ng-container>
            <input matInput type="text" [name]="state"
                   [(ngModel)]="instance.state[state]"/>
          </mat-form-field>
        </li>
      </ul>
    </div>
  </form>

</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" cdkFocusInitial form="form">Save</button>
  <button mat-button color="accent" (click)="delete()">Delete</button>
</div>
