<h1>Settings</h1>
<a mat-stroked-button routerLink="/games">Back</a>

<form (ngSubmit)="saveChanges(gameForm)" #gameForm="ngForm" *ngIf="loaded">

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Condition rules" required
              name="description" matTextareaAutosize matAutosizeMinRows="5"
              [(ngModel)]="config.bool_expression_rules"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Statement rules" required
              name="description" matTextareaAutosize matAutosizeMinRows="5"
              [(ngModel)]="config.state_expression_rules"></textarea>
  </mat-form-field>

  <button mat-raised-button color="default">Save</button>&nbsp;&nbsp;
  <em *ngIf="status">{{ status }}</em>

</form>
