<h1 mat-dialog-title>Location: {{ instance.field }}</h1>
<div mat-dialog-content>
  <p>Properties</p>
  <form (ngSubmit)="save(form)" #form="ngForm" id="form">
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Statement Name" required
             name="statement" [(ngModel)]="instance.data.statement">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Statement Value" required
             name="value" [(ngModel)]="instance.data.value">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a description"
                [(ngModel)]="instance.data.description" name="description">
      </textarea>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial form="form">Save</button>
  <button mat-button color="accent" (click)="delete()">Delete</button>
</div>
