:host {
  .property-name {
    color: #0b3932;
  }

  li {
    cursor: pointer;
    padding: 10px;

    &:hover {
      background: lightblue;
    }

    .property-value {
      color: lightcoral;
      text-decoration: underline;
      font-style: normal;
      cursor: pointer;
    }
  }
}
